@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/**************************** Css reset **/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
    line-height: 1;
    background: #f8f1f1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

//Colour Variables

$dark-cyan: #16697a;
$orange-primary: #db6400;
$orange-secondary: #ffa62b;
$paper-colour: #f8f1f1;
$dark-green: #257e63;

a {
-webkit-user-select: none; 
  -ms-user-select: none; 
  user-select: none; 
}

input, button {
    border-radius: 5px !important;
}

/*************************************** Navigation **/

nav {
  background: $dark-cyan; }

nav ul a {
  font-size: 1.1em; }

nav ul {
  line-height: 100px;
  vertical-align: middle;
  font-size: 1.35em; }

.logo {
  vertical-align: middle;
  height: 100px;
margin-left: 10px; }

.nav-btn {
    background: transparent;
    font-weight: 700;
    font-size: 20px;
    height: 45px;
    color: #fff;
    border: 3px solid white;
    transition: all 0.2s ease-in-out;

    &:hover {
        transform: scale(1.04);
        color: #fff;
        background: transparent;

    }
}

.mobile-menu {
    line-height: 100px !important;

    i {
    font-size: 35px;
     vertical-align: middle;
    }
    
}

.sidenav {
    background: $dark-cyan;
    opacity: 0.85;
    padding-top: 10px;

    li:hover {
        background-color: rgba(248,241,241,0.25);
    }

}

.sidenav li>a {
    color: #fff;
    font-size: 1.6em;
}

/************************************ Hero Section **/

.hero-section {
    clear: both;
    height: 800px;
    background: url("/static/images/hero-image.png") no-repeat center;
    background-size: cover;
        display: flex;
    align-items: center;

}

.hero-section_wrapper {
    width: 70%;
    margin: 0 auto;
    text-align: center;
}

.hero-section_title {
    font-size: 4em;
    color: #fff;
    padding-bottom: 65px;
    text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);

}

#search-form {
    position: relative;
    display: flex;
    gap: 10px;
    align-items: flex-start;
}

.search-box {
    width: 80% !important; 
    background-color: #ffffff !important;
    padding: 5px 15px !important;
}

.search-submit {
    display: inline-block;
    background: $orange-secondary;
    padding: 18px 45px;
    border: none;
    color: #fff;
    font-weight: 600;
    font-size: 1.25em;
    cursor: pointer;
    border-radius: 5px;

    &:hover {
        background-color: darken($orange-secondary, 10%);
    }
}

.hiring-strip {
    background: $orange-secondary;
    text-align: center;
    height: 60px;

    h2 {
        color:#fff;
        display: inline-block;
        font-size: 25px;
        font-style: italic;
        vertical-align: middle;
        line-height: 60px;
        margin-right: 10px;

        &::before {
            content: "HIRING?";
    border-radius: 40px;
    border: 1px solid #fff;
    font-size: 15px;
    padding: 5px;
    position: relative;
    bottom: 10px;
    margin-right: 5px;
    font-weight: 700;
        }
}

a {
    background: $dark-green;

    &:hover {
        background: lighten($dark-green, 10%);
    }
}

    }





/************************************ Media Queries **/

@media screen and (max-width: 990px) {

  .hero-section_wrapper {
      width: 90%;
  }

  .search-box {
      height: 2.5em !important;
  }

  .search-submit {
      padding: 14px 30px;
  }

  .hero-section_title {
      font-size: 3.2em;
  }

} 