<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!--Font Awsome-->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
      integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
      crossorigin="anonymous"
      type="text/css"
    />
    <!-- Compiled and minified CSS Materialize -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
      type="text/css"
    />
    <link
      rel="stylesheet"
      href="{{url_for('static', filename='css/style.css')}}"
      type="text/css"
    />
    <!--Jquery confirm plugin-->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.css"
    />

    <!--Email Js-->
    <script src="https://cdn.jsdelivr.net/npm/emailjs-com@2/dist/email.min.js"></script>
    <script>
      (function () {
        emailjs.init("user_LSWkuz2N0cBpgw97mO1MG");
      })();
    </script>

    {% block styles %} {% endblock %}
    <title>Jobbing</title>
  </head>

  <body>
    <!--Navbar Large Materialize-->

    <header>
      <nav class="nav-extended">
        <div class="nav-wrapper">
          <a href="{{url_for('homepage')}}"
            ><img class="logo" src="/static/images/white-color-v3.png" alt=""
          /></a>
          <a
            href="#"
            data-target="mobile-demo"
            class="sidenav-trigger right mobile-menu"
            ><i class="fas fa-bars"></i
          ></a>
          <ul class="right hide-on-med-and-down">
            {% if session.user %}
            <li><a href="{{url_for('find_job')}}">Find a Job</a></li>
            <li>
              <a href="{{url_for('profile', user=session['user'])}}"
                >My Profile</a
              >
            </li>
            <li><a href="{{url_for('contact')}}">Contact Us</a></li>
            <li><a href="{{url_for('logout')}}">Logout</a></li>
            <li>
              <a
                href="{{url_for('post_job')}}"
                class="waves-effect waves-light btn nav-btn"
                >POST A JOB</a
              >
            </li>
            {% else %}
            <li><a href="{{url_for('find_job')}}">Find a Job</a></li>
            <li><a href="{{url_for('login')}}">Login</a></li>
            <li><a href="{{url_for('register_jobseeker')}}">Register</a></li>
            <li><a href="{{url_for('contact')}}">Contact Us</a></li>
            {% endif %}
          </ul>
        </div>
      </nav>

      <!--Navbar Mobile Materialize-->

      <ul class="sidenav right" id="mobile-demo">
        {% if session.user %}
        <li><a href="{{url_for('find_job_mobile')}}">Find a Job</a></li>
        <li>
          <a href="{{url_for('profile', user=session['user'])}}">My Profile</a>
        </li>
        <li><a href="{{url_for('contact')}}">Contact Us</a></li>
        <li><a href="{{url_for('logout')}}">Logout</a></li>
        <li><a href="{{url_for('post_job')}}">Post A Job</a></li>
        {% else %}
        <li><a href="{{url_for('find_job_mobile')}}">Find a Job</a></li>
        <li><a href="{{url_for('login')}}">Login</a></li>
        <li><a href="{{url_for('register_jobseeker')}}">Register</a></li>
        <li><a href="{{url_for('contact')}}">Contact Us</a></li>
        {% endif %}
      </ul>
    </header>

    <!--Flash messages-->
    <section class="flash-message-container">
      {% with messages = get_flashed_messages() %} {% if messages %} {% for
      message in messages %}
      <div class="row flash-message">
        <h2>{{ message }}</h2>
      </div>
      {% endfor %} {% endif %} {% endwith %}
    </section>

    {% block content %} {% endblock %}

    <footer>
      <div class="footer-wrapper">
        <img src="/static/images/white-color-v3.png" />
        <hr />

        <ul class="footer-menu">
          {% if session.user %}
          <li class="find-job-lg">
            <a href="{{url_for('find_job')}}">Find a Job</a>
          </li>
          <li class="find-job-sm">
            <a href="{{url_for('find_job_mobile')}}">Find a Job</a>
          </li>
          <li>
            <a href="{{url_for('profile', user=session['user'])}}"
              >My Profile</a
            >
          </li>
          <li><a href="{{url_for('post_job')}}">Post a Job</a></li>
          {% else %}
          <li class="find-job-lg">
            <a href="{{url_for('find_job')}}">Find a Job</a>
          </li>
          <li class="find-job-sm">
            <a href="{{url_for('find_job_mobile')}}">Find a Job</a>
          </li>
          <li><a href="{{url_for('login')}}">Login</a></li>
          <li><a href="{{url_for('register_jobseeker')}}">Register</a></li>
          {% endif %}
          <li><a href="{{url_for('contact')}}">Contact Us</a></li>
        </ul>

        <div class="copyright-wrapper">
          <h3>© COPYRIGHT 2021 | Designed & Developed By Boris Gersic</h3>
          <div class="social-icons">
            <a target="_blank" href="https://www.facebook.com/"
              ><i class="fab fa-facebook"></i
            ></a>
            <a target="_blank" href="https://www.instagram.com/"
              ><i class="fab fa-instagram"></i
            ></a>
            <a href="https://twitter.com/?lang=en" target="_blank"
              ><i class="fab fa-twitter"></i
            ></a>
          </div>
        </div>
      </div>
    </footer>

    <!--jQuery CDN-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <!--jQuery confirm plugin script-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.js"></script>
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <!--Own Script-->
    <script src="{{url_for('static', filename='js/main.js') }}"></script>
    {% block scripts %} {% endblock %}

    <!--Google Maps-->
    <script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB9c9j4A169slZFZL87EIIQHUq0IPrrVCg&callback=initMap"></script>
    <script src="https://unpkg.com/@googlemaps/markerclustererplus/dist/index.min.js"></script>
  </body>
</html>
