<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--Font Awsome-->
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
        integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
        crossorigin="anonymous" type="text/css" />
    <!-- Compiled and minified CSS Materialize -->
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
        type="text/css">
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}" type="text/css">
    {% block styles %}
    {% endblock %}
    <title>Jobbing</title>
</head>

<body>




    {% block content %}







    {% endblock %}



    <footer>

        <div class="footer-wrapper">
            <img src="static/images/white-color-v3.png">
        <hr>

         <ul class="footer-menu">
        <li><a href="sass.html">Find a Job</a></li>
        <li><a href="badges.html">Login</a></li>
        <li><a href="collapsible.html">Register</a></li>
        <li><a href="mobile.html">Contact Us</a></li>
        <li><a href="mobile.html">My Profile</a></li>
    </ul>

         <div class="copyright-wrapper">
            <h3>© COPYRIGHT 2021 | Designed & Developed By Boris Gersic</h3>
            <div class="social-icons">
                <i class="fab fa-facebook"></i>
                <i class="fab fa-instagram"></i>
                <i class="fab fa-twitter"></i>
            </div>
        </div>
        

        </div>

       
    </footer>


    <!--jQuery CDN-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <!-- Compiled and minified JavaScript -->
    <script
        src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <!--Own Script-->
    <script src="{{url_for('static', filename='js/main.js') }}"></script>
    {% block scripts %}
    {% endblock %}
</body>

</html>