<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--Font Awsome-->
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
        integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
        crossorigin="anonymous" type="text/css" />
    <!-- Compiled and minified CSS Materialize -->
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
        type="text/css">
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}" type="text/css">
    {% block styles %}
    {% endblock %}
    <title>Jobbing</title>
</head>

<body>

    {% block content %}
    {% endblock %}

    <!--Navbar Large Materialize-->

    <header>
        <nav class="nav-extended">
            <div class="nav-wrapper">
                <a href="#!"><img class="logo" src="/static/images/white-color-v3.png" alt=""></a>
                <a href="#" data-target="mobile-demo" class="sidenav-trigger right mobile-menu"><i
                        class="fas fa-bars"></i></a>
                <ul class="right hide-on-med-and-down">
                    <li><a href="sass.html">Find a Job</a></li>
                    <li><a href="badges.html">Login</a></li>
                    <li><a href="collapsible.html">Register</a></li>
                    <li><a href="mobile.html">Contact Us</a></li>
                    <li><a href="mobile.html">My Profile</a></li>
                    <li><a class="waves-effect waves-light btn nav-btn">POST A JOB</a></li>
                </ul>
            </div>
        </nav>

        <!--Navbar Mobile Materialize-->

        <ul class="sidenav right" id="mobile-demo">
            <li><a href="sass.html">Find a Job</a></li>
            <li><a href="badges.html">Login</a></li>
            <li><a href="collapsible.html">Register</a></li>
            <li><a href="mobile.html">Contact Us</a></li>
            <li><a href="mobile.html">My Profile</a></li>
        </ul>
    </header>

    <!--Hero Section-->

    <section class="hero-section">
        <div class="hero-section_wrapper">
            <h1 class="hero-section_title">Find Your New Job Today!</h1>
        
        <div class="hero-search">
            <form id="search-form">
                <input type="search" class="search-box">
                <input type="submit" value="EXPLORE" class="search-submit">
            </form>
        </div>
        </div>
    </section>

    <div class="hiring-strip">
        <h2>Post a job in front of thousands talented jobseekers</h2>
        <a class="btn" href="">POST A FREE JOB</a>
    </div>



    <!--jQuery CDN-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <!-- Compiled and minified JavaScript -->
    <script
        src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <!--Own Script-->
    <script src="{{url_for('static', filename='js/main.js') }}"></script>
    {% block scripts %}
    {% endblock %}
</body>

</html>