{% extends "base.html" %} {% block content %}

<!--Hero Section-->

<section class="hero-section-job">
  <div class="hero-section_wrapper">
    <h1 class="hero-section_title">Search Available Jobs</h1>

    <div class="hero-search">
      <form id="search-form">
        <input
          type="search"
          class="search-box"
          placeholder="Search all jobs..."
        />
        <input type="submit" value="EXPLORE" class="search-submit" />
      </form>
    </div>
  </div>
</section>

<!--Search By Category Section-->
<section class="popular-jobs">
  <h1 class="section-title">Search By Category</h1>
  <hr class="large-horizontal-rule" />
  <div class="popular-jobs-box_wrapper">
    <div class="popular-jobs_box-search category_one">
      <i class="fas fa-chart-pie fa-3x"></i>
      <h1>Marketing</h1>
      <form action="{{url_for('find_job_mobile')}}" method="POST">
        <label for="marketing"></label>
        <input
          class="search-btn-category"
          name="job_category_name"
          type="submit"
          value="marketing"
        />
        <i class="fas fa-angle-double-right fa-3x"></i>
      </form>
    </div>

    <div class="popular-jobs_box-search category_two">
      <i class="fas fa-coins fa-3x"></i>
      <h1>Finance</h1>
      <form action="{{url_for('find_job_mobile')}}" method="POST">
        <input
          class="search-btn-category"
          name="job_category_name"
          type="submit"
          value="finance"
        />
        <i class="fas fa-angle-double-right fa-3x"></i>
      </form>
    </div>

    <div class="popular-jobs_box-search category_three">
      <i class="fas fa-phone-volume fa-3x"></i>
      <h1>Sales</h1>
      <form action="{{url_for('find_job_mobile')}}" method="POST">
        <input
          class="search-btn-category"
          name="job_category_name"
          type="submit"
          value="sales"
        />
        <i class="fas fa-angle-double-right fa-3x"></i>
      </form>
    </div>
  </div>
</section>

<!-- Jobs Listing-->

<section class="job-listing-container" id="job-listing-wrap">
  <div class="job-listing-wrapper-mobile">
    <div class="whole-listing job-listing-mobile">
      <!--FLash messages-->
      <section class="flash-message-container">
        {% with messages = get_flashed_messages() %} {% if messages %} {% for
        message in messages %}
        <div class="row flash-message">
          <h2>{{ message }}</h2>
        </div>
        {% endfor %} {% endif %} {% endwith %}
      </section>
      {% if job_category %}
      <div class="job-listing-title">
        <h2>{{job_category}} Category Jobs /</h2>
        <a class="see-all-jobs-filter" href="{{url_for('find_job')}}"
          >See All Jobs</a
        >
        <h3 class="page-count"></h3>
        <hr />
      </div>
      {% else %}
      <div class="job-listing-title">
        <h2>All Jobs</h2>
        <h3 class="page-count"></h3>
        <hr />
      </div>
      {% endif %}

      <!--Listed Jobs-->

      {% for job in all_jobs|reverse %}
      <div class="job-listing-box job-box">
        {% if session.user %}
        <form
          class="save-job_form"
          action="{{url_for('save_job_mobile')}}"
          method="POST"
        >
          <button class="save_job"></button>
          <input type="text" name="job_id" id="job_id" value="{{job._id}}" />
        </form>
        {% endif %}
        <h5 class="posted-date">{{job.posted_date}}</h5>
        <br />
        <h1 class="job-title">{{job.job_title}}</h1>
        <h4 class="company_name">{{ job.company_name}}</h4>
        <h2 class="contract-type-location">
          {{ job.contract_type }} | {{job.company_address}}
        </h2>
        <h3 class="job-salary">{{ job.salary_range }}</h3>

        <p>{{job.job_description}}</p>
      </div>

      {% endfor %}
    </div>
  </div>

  <!-- Page Selector-->
  <div class="page-numbers">
    <ul class="pagination">
      <li class="prev-page">
        <a href="javascript:void(0)"><i class="fas fa-chevron-left"></i></a>
      </li>
    </ul>
  </div>
</section>

{% endblock %}
