{% extends "base.html" %} {% block content %}

<!--Hero Section-->

<section class="hero-section-job">
  <div class="hero-section_wrapper">
    <h1 class="hero-section_title">Search Available Jobs</h1>

    <div class="hero-search">
      <form id="search-form">
        <input
          type="search"
          class="search-box"
          placeholder="Search all jobs..."
        />
        <input type="submit" value="EXPLORE" class="search-submit" />
      </form>
    </div>
  </div>
</section>

<!--Popular Jobs Section-->

<section class="popular-jobs">
  <h1 class="section-title">Search By Category</h1>
  <hr class="large-horizontal-rule" />
  <div class="popular-jobs-box_wrapper">
    <div class="popular-jobs_box-search category_one">
      <i class="fas fa-chart-pie fa-3x"></i>
      <h1>Marketing</h1>
      <h3 class="title-arrow">&nbsp;</h3>
    </div>

    <div class="popular-jobs_box-search category_two">
      <i class="fas fa-coins fa-3x"></i>
      <h1>Finance</h1>
      <h3 class="title-arrow">&nbsp;</h3>
    </div>

    <div class="popular-jobs_box-search category_three">
      <i class="fas fa-phone-volume fa-3x"></i>
      <h1>Sales</h1>
      <h3 class="title-arrow">&nbsp;</h3>
    </div>
  </div>
</section>

<!-- Jobs Listing-->

<section class="job-listing-container" id="job-listing-wrap">
  <div class="job-listing-wrapper">
    <div class="whole-listing job-listing">
      <!--FLash messages-->
      <section class="flash-message-container">
        {% with messages = get_flashed_messages() %} {% if messages %} {% for
        message in messages %}
        <div class="row flash-message">
          <h2>{{ message }}</h2>
        </div>
        {% endfor %} {% endif %} {% endwith %}
      </section>

      <div class="job-listing-title">
        <h2>All Jobs</h2>
        <h3 class="page-count"></h3>
        <hr />
      </div>

      <!--Listed Jobs-->

      {% for job in all_jobs|reverse %}
      <div class="job-listing-box job-box">
        <form
          class="save-job_form"
          action="{{url_for('save_job', job=job._id)}}"
          method="POST"
        >
          <button class="save_job"></button>
          <input type="text" name="job_id" id="job_id" value="{{job._id}}" />
          <!-- <span class="tooltip-job">Save a Job</span> -->
        </form>
        <h1 class="job-title">{{job.job_title}}</h1>
        <h4 class="company_name">{{ job.company_name}}</h4>
        <h2 class="contract-type-location">
          {{ job.contract_type }} | {{job.company_address}}
        </h2>
        <h3 class="job-salary">{{ job.salary_range }}</h3>

        <p class="job-description">{{job.job_description}}</p>
        <button class="see-full-job">See More</button>
      </div>
      {% endfor %}
    </div>

    <!--Extended Job Info-->
    <div class="job-expand"></div>
  </div>

  <!-- Page Selector-->
  <div class="page-numbers">
    <ul class="pagination">
      <li class="prev-page">
        <a href="javascript:void(0)"><i class="fas fa-chevron-left"></i></a>
      </li>
    </ul>
  </div>
</section>

{% endblock %}
