{% extends "base.html" %} {% block content %}

<!--Hero Section-->

<section class="hero-section">
  <div class="hero-section_wrapper">
    <h1 class="hero-section_title">Find Your New Job Today!</h1>

    <div class="hero-search" id="main-search">
      <form id="search-form" method="POST" action="{{url_for('search')}}">
        <label for="search_box"></label>
        <input
          type="search"
          class="search-box"
          placeholder="Search all jobs..."
          id="search_box"
          name="search_box"
        />
        <input type="submit" value="EXPLORE" class="search-submit" />
      </form>
    </div>

    <div class="hero-search" id="mobile-search">
      <!--Search Form Mobile-->
      <form
        id="search-form-mobile"
        method="POST"
        action="{{url_for('search_mobile')}}"
      >
        <label for="search_box-mobile"></label>
        <input
          type="search"
          class="search-box"
          placeholder="Search all jobs..."
          id="search_box-mobile"
          name="search_box"
        />
        <input type="submit" value="EXPLORE" class="search-submit" />
      </form>
    </div>
  </div>
</section>

<div class="hiring-strip">
  <h2>Post a job in front of thousands talented jobseekers</h2>
  <a class="btn" href="{{url_for('post_job')}}">POST A FREE JOB</a>
</div>

<!--Search By Category Section-->

<section class="popular-categories">
  <h1 class="section-title">Popular Categories</h1>
  <hr class="large-horizontal-rule" />
  <div class="popular-categories-box_wrapper">
    <div class="popular-jobs_box-search category_one">
      <i class="fas fa-chart-pie fa-3x"></i>
      <h1>Marketing</h1>
      <form action="{{url_for('find_job')}}" method="POST">
        <label for="marketing"></label>
        <input
          id="marketing"
          class="search-btn-category"
          name="job_category_name"
          type="submit"
          value="marketing"
        />
        <i class="fas fa-angle-double-right fa-3x"></i>
      </form>
    </div>

    <div class="popular-jobs_box-search category_two">
      <i class="fas fa-coins fa-3x"></i>
      <h1>Finance</h1>
      <form action="{{url_for('find_job')}}" method="POST">
        <input
          class="search-btn-category"
          name="job_category_name"
          type="submit"
          value="finance"
        />
        <i class="fas fa-angle-double-right fa-3x"></i>
      </form>
    </div>

    <div class="popular-jobs_box-search category_three">
      <i class="fas fa-phone-volume fa-3x"></i>
      <h1>Sales</h1>
      <form action="{{url_for('find_job')}}" method="POST">
        <input
          class="search-btn-category"
          name="job_category_name"
          type="submit"
          value="sales"
        />
        <i class="fas fa-angle-double-right fa-3x"></i>
      </form>
    </div>
  </div>
</section>

<!--About Section-->

<section class="about-container">
  <div class="about-background_overlay"></div>
  <video autoplay muted loop id="about-video">
    <source src="static/images/about-video.mp4" type="video/mp4" />
  </video>

  <div class="about-content">
    <h1>About Jobbing</h1>
    <p>
      Here at Jobbing, we are all about fresh starts. With so many people today
      unhappy with their current work positions, we set the milestone to change
      as many lives as possible. With more than 100 available jobs, we pride
      ourselves in a very diverse job offering enabling you to change your
      career and start doing what you enjoy!
    </p>

    <div class="about-content_usp">
      <div class="usp-box">
        <i class="fas fa-handshake fa-4x"></i>
        <span class="counter" data-count="4000">4000</span>
        <h2>Jobseekers Hired</h2>
      </div>

      <div class="usp-box">
        <i class="fas fa-bullhorn fa-4x"></i>
        <span class="counter" data-count="100">10</span>
        <h2>Years In Business</h2>
      </div>

      <div class="usp-box">
        <i class="fas fa-users fa-4x"></i>
        <span class="counter" data-count="4000">30</span>
        <h2>Staff Members</h2>
      </div>
    </div>
  </div>
</section>

<!--FAQ's Section-->

<section id="faq-section">
  <h2 class="section-title">FAQ'S</h2>
  <hr class="large-horizontal-rule" />
  <br />

  <div class="quesitons-wrapper">
    <div class="question-dropdown">
      <h3>Where can I find information about looking for a job?</h3>
      <i class="fas fa-caret-right"></i>
      <p>
        You will find a complete job listing on the find-job page which can be
        located in the top navigation bar & footer
      </p>
    </div>

    <div class="question-dropdown">
      <h3>What are the benefits of registering as a employer?</h3>
      <i class="fas fa-caret-right"></i>
      <p>
        You get access to post upcoming jobs within you company in front of
        thousdans of taleneted jobseekers. You also get full access to deleted
        or edit posted jobs.
      </p>
    </div>

    <div class="question-dropdown">
      <h3>Where can I get help with registering or using the site?</h3>
      <i class="fas fa-caret-right"></i>
      <p>
        You can contact us directly at
        <a href="mailto:support:jobbing.com">support@jobbing.com</a>, or you can
        submit the form with your question on the contact us page.
      </p>
    </div>

    <div class="question-dropdown">
      <h3>How can I save jobs I like?</h3>
      <i class="fas fa-caret-right"></i>
      <p>
        After viewing the job on find a job page, you can click on hearth icon
        in the right corner and that will save the job on your profile
      </p>
    </div>

    <div class="question-dropdown">
      <h3>Where can I edit my personal information?</h3>
      <i class="fas fa-caret-right"></i>
      <p>
        You can edit you information on My Profile page. All the personal
        details should be listed at the top of the page. From there you can
        change all the relevant information.
      </p>
    </div>
  </div>
</section>

{% endblock %}
