{% extends "base.html" %}
{% block content %}



<section class="post-job-form">
    <h1> Post A Job</h1>
    <h4>Please enter the job details below</h4>
    <form action="{{url_for('post_job')}}" method="POST">
        <label for="job_title">Job Title:</label>
        <input type="text" id="job_title" name="job_title" class="validate" required>
        <label for="contract_type">Contract Type:</label>
        <select name="contract_type" id="contract_type" class="validate" required>
            <option value="" selected>Full-Time</option>
            <option value="part-time">Part-Time</option>
            <option value="temp-six-months">Temporarily 6 Months</option>
            <option value="temp-year">Temporarily One Year</option>
        </select>
        <label for="job_location">Job Location:</label>
        <input type="text" id="job_location" name="job_location" class="validate" required>
        <label for="job_description">Job Description:</label>
        <textarea id="job_description" name="job_description" rows="100" validate
            required></textarea>
        <label for="salary_range">Salary Range:</label>
        <input type="text" id="salary_range" name="salary_range" class="validate" value="0"
            required>
        <button class="submit-btn" type="submit">POST A JOB</button>
    </form>

</section>



{% endblock %}